.container-menu-row {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  gap: 5px;
}

.menu-grid-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* 한 줄에 3개의 아이템을 표시합니다. */
  grid-template-rows: repeat(3, 1fr); /* 세 줄을 만듭니다. */
  gap: 10px; /* 아이템 사이의 간격을 설정합니다. */
  width: 32vh;
  height: 51vh;
}

.menu-item1 {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  /* display: flex;
  flex-direction: column;*/
  align-items: center;
  justify-content: center;
  background: rgb(255, 254, 254); /* 배경색 */
  border: 2px solid rgb(227, 191, 30);
  padding: 16px;
  border-radius: 10px; /* 둥근 모서리 */
  width: 6vh; /* 부모 요소에 맞게 너비를 설정합니다. */
  height: 14vh; /* 내용에 맞게 높이를 조절합니다. */
}

.container-colum {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
}

.container-row {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 10px;
}
.menu-image1 {
  width: 11vh; /* 이미지의 너비를 메뉴 아이템의 80%로 설정합니다. */
  height: 10vh; /* 이미지의 높이를 자동으로 조절합니다. */
  object-fit: contain; /* 이미지 비율을 유지하면서 컨테이너에 맞게 조절합니다. */
}

/* =------------- */
/* =------------- */
/* =------------- */
/* =------------- */

.category-button {
  width: 93px;
  height: 66px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  background-color: #fcac43;
  border: 1px solid gray;
  border-radius: 10px;
}
.category-button.active {
  text-decoration: underline;
  border: 5px solid #b5aca0;
}
.team-color {
  background-color: #fcac43;
  border-radius: 10px;
}

.boonga {
  width: 140px;
  height: 110px;
}

.pay-button {
  width: 130px;
  height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  background-color: #3d4dc6;
  border-radius: 15px;
}

.team-logo {
  width: 80px;
  height: 90px;
  margin-top: 10%;
  margin-left: 5%;
  display: block;
}

.brand-logo {
  width: 120px;
  height: 50px;
  display: block;
  margin: auto;
}
.home-icon {
  width: 25px;
  height: 27px;
  display: block;
  margin: auto;
}
.container-baguni-col {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.container-baguni-row {
  display: grid;
  grid-template-rows: 3fr 2fr;
  gap: 10px;
}

.container-baguni-rowrow {
  display: grid;
  grid-template-rows: 2fr 12fr 3fr;
}

.baguni-text-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.basket {
  border-radius: 10px;
  /* overflow: hidden; */
}
.baguni-text1 {
  color: #000000;
  font-weight: bold;
  font-size: 13px;
  border-bottom: 1.5px solid #000000;
}

.baguni-text2 {
  color: #000000;
  font-size: 15px;
  border-bottom: 1.5px solid #000000;
}

.baguni-text3 {
  color: #000000;
  font-size: 17px;
}
.baguni-text {
  vertical-align: text-bottom;
}
.baguni-text4 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
}

.bottom {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.page-button {
  width: 32;
  height: 32;
  margin-left: 5px;
  margin-right: 5px;
}

.page-buttons {
  display: block;
  margin: auto;
}

.page-indicators {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 세로축 기준 중앙 정렬 */
  gap: 5px; /* 점들 사이의 간격 */
  height: 15.5px;
}

.page-dot1 {
  width: 10px; /* 점 이미지의 가로 크기 */
  height: 10px; /* 점 이미지의 세로 크기 */
  /* 추가적인 스타일링이 필요하다면 여기에 추가 */
}

.page-dot2 {
  width: 5px; /* 점 이미지의 가로 크기 */
  height: 5px; /* 점 이미지의 세로 크기 */
  /* 추가적인 스타일링이 필요하다면 여기에 추가 */
}

.menu-name1,
.menu-price1 {
  font-size: 10px;
  text-align: center;
  color: #010101; /* 글자 색상 */
  white-space: nowrap; /* 텍스트를 한 줄에 표시 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
  text-overflow: ellipsis;
}

.detail-modal {
  display: block;
  margin: auto;
  margin-top: 13%;
  width: 40vh;
  height: 87vh;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #fcac43;
}

.detail-modal-container {
  display: grid;
  grid-template-rows: 1.5fr 1fr 8fr 1fr 1fr 3fr;
  gap: 10px;
  height: 87vh;
}
.detail-modal-header-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
  margin-bottom: -7%;
}
.detail-modal-date-container {
  margin-left: 10%;
  margin-top: 10%;
  line-height: 0.6; /* Adjust line height for proper spacing between lines */
  color: #000000; /* Text color */
}
.detail-modal-text-brand {
  font-size: 16px; /* 글자 크기 */
  color: #000000;
  font-weight: bold; /* 글자 두께 */
}
.detail-modal-text-date {
  font-size: 11px; /* 글자 크기 */
  color: #000000;
  font-weight: bold; /* 글자 두께 */
}
.detail-modal-checktext-container {
  padding: 5px; /* 필요한 경우 패딩 추가 */
  background-color: #fcac43; /* 배경색 */
  border: 0.2px solid #000000; /* 테두리 */
  border-radius: 10px; /* 둥근 모서리 */
  width: 300px;
  height: 26px;
  margin-left: 4%;
  font-size: 20px; /* 글자 크기 */
  color: #ffffff;
  font-weight: bold; /* 글자 두께 */
  text-align: center;
  margin-top: 1%;
}

.detail-modal-list {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: 0.2px solid rgb(213, 213, 213);
  overflow-y: auto;
  margin-left: 3%;
  width: 35vh;
  min-height: 45vh;
  max-height: 45vh;
  background-color: #f7f7f7;
}
.detail-modal-item {
  background-color: #f7f7f7;
  border: 0.2px solid black;
  border-radius: 16px;
  padding: 3px;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 2.2fr 3.8fr 1fr 2fr;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}
.detail-modal-item p {
  margin: 0;
  color: #9e4040;
}

.detail-modal-menu-text {
  font-size: 13px;
  font-weight: bold;
}

.detail-modal-options-text {
  font-size: 10px;
  font-weight: bold;
}
.detail-modal-count-text {
  font-size: 13px;
  font-weight: bold;
}
.detail-modal-price-text {
  font-size: 13px;
  font-weight: bold;
}
.detail-modal-total-container {
  display: flex;
  justify-content: space-between; /* 양쪽 끝에 요소를 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 5px; /* 필요한 경우 패딩 추가 */
  background-color: #ffffff; /* 배경색 */
  border: 1px solid #000000; /* 테두리 */
  border-radius: 10px; /* 둥근 모서리 */
  width: 300px;
  margin-left: 4%;
}
.detail-modal-total-container span {
  font-size: 22px; /* 글자 크기 */
  font-weight: bold; /* 글자 두께 */
}

.detail-modal-btns-container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
}
.detail-modal-cancel-button {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #584c49;
  width: 73px;
  height: 52px;
  border-radius: 10px;
  border: none;
}

.detail-modal-in-button {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #fcac43;
  width: 107px;
  height: 52px;
  border-radius: 10px;
  border: none;
}

.detail-modal-out-button {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #9860d0;
  width: 107px;
  height: 52px;
  border-radius: 10px;
  border: none;
}

.detail-modal {
  padding: 0;
}
