.register-container {
  display: grid;
  grid-template-rows: 0.5fr 4.5fr;
  width: 300px;
  height: 530px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-btn {
  width: 278px;
  height: 36px;
  font-size: 15px;
  font-weight: 900;
  color: white;
  background-color: #fcac43;
  border: none;
  margin-top: 5px;
  margin-bottom: 7px;
}

.register-signup {
  color: black;
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
}

.register-text {
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}

.register-input-name {
  font-size: 13px;
  margin-left: 1px;
}

.register-must-input {
  color: red;
}

.register-input-container {
  margin-top: 15px;
}

.register-err-msg {
  height: 20px;
  text-align: center;
  font-size: 13px;
  color: red;
  margin-top: 5px;
}
