.option-container {
  width: 371px;
  height: 753px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(11px);
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
}

.top-menu-option {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.pic {
  width: 186px;
  height: 176px;
}

.basic-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.menu-name {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.menu-price {
  font-size: 20px;
}

.count-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 81px;
}

.count-button {
  width: 27px;
  height: 24px;
  border-radius: 7px;
  border: none;
  background-color: #aaaaaa;
  color: white;
  font-size: 13px;
}

.count {
  font-size: 20px;
}

.plus {
  background-color: #5295d4;
}

.option-choose-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  overflow-y: scroll;
  max-height: 350px;
  margin-left: 32px;
  padding-top: 10px;
}

.option-box {
  text-align: left;
  background-color: #5295d4;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
  margin-top: 0;
}

hr {
  margin-left: 0;
  width: 305.723px;
  height: 0.5px;
  background: #000;
  margin-top: 6px;
}

#menu-description {
  text-align: left;
  margin-right: 32px;
  font-size: 12px;
  font-weight: 500;
}

#cup-option {
  margin-right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
}

#tumbler {
  margin-right: 7px;
}

.choose {
  margin-left: 20px;
  width: 60px;
  height: 70px;
  border-radius: 15px;
  border: 1px solid #000;
  font-size: 10px;
  background-color: white;
  padding: 0;
  color: black;
}

.choose.active {
  background-color: #fcac43;
}

.choose.disabled {
  background-color: #c6c6c6;
}

.choose p {
  padding: 0;
  margin: 5px;
}

.cup-small-option {
  font-size: 8px;
}

#temp-option {
  margin-right: 32px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.temp {
  margin-right: 19px;
}

#total-line {
  position: absolute;
  bottom: 150px;
  left: 32px;
}

#total-price-container {
  width: 305px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 120px;
  margin-left: 38px;
  margin-right: 30px;
  text-align: center;
}

#total-price-KR {
  font-size: 18px;
  font-weight: 700;
}

#detail-price {
  font-size: 13px;
  font-weight: 700;
  color: #9a8f8f;
  padding-top: 4px;
}

#total-price-WON {
  margin-left: auto;
  font-size: 25px;
  font-weight: 400;
}

#out-button {
  width: 290px;
  display: flex;
  position: absolute;
  left: 50px;
  bottom: 43px;
  justify-content: space-between;
}

#cancel-button {
  width: 135px;
  height: 30px;
  background: #4d4646;
  border-radius: 30px;
  color: #fefefe;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  border: none;
}

#hold-button {
  width: 135px;
  height: 30px;
  background: #fcac43;
  border-radius: 30px;
  color: #fefefe;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  border: none;
}
