.message-container {
  text-align: center;
}

.bubble {
  background-color: #edebeb;
  padding: 4px;
  margin: 5px;
  border-radius: 10px;

  max-height: 10px;
  max-height: 250px;
  width: 130px;

  font-size: 10px;
  font-weight: 600;
  border: 2px solid black;
  word-wrap: break-word;
}
